* {
    font-family: "Cambria", "Cochin", "Georgia", "Times";
    font-size: 100%;
}

/* Header */
#header-title {
    color: white;
    text-align: center;
    font-size: 3em;
}


/* Page struts */
body {
    background-image: linear-gradient(to right, #1B2631, #212F3C);
}

/* Table of data */
table {
    width: 100%;
    color: white;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
}

th {
    border-top: 7px double black;
    border-bottom: 7px double black;
}

th, tr, td {
    padding: 10px;
}

.table-row:hover {
    box-shadow: 1px 1px 15px black;
    cursor: text;
}


/* behavior of icons button */
.edit-button:hover {
    color: orange;
}

.delete-button:hover {
    color: red;
}

.edit-button:hover, .delete-button:hover {
    cursor: pointer;
}

.edit-button:active, .delete-button:active {
    cursor: default;
}

.edit-button, .delete-button {
    background-color: inherit;
    border: none;
    color: white;
}

/* form */
#form-container {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 15px black;
}

.input-box {
    margin-top: 15px;
    padding: 10px;
    overflow: hidden;
}

input {
    margin-top: 5px;
    width: 95%;
    background-color: inherit;
    border: none;
    border-bottom: 2px solid white;
    color: white;
}

input:focus {
    border-bottom-color: red;
}

input::placeholder, label {
    color: white;
}

/* behavior of the action button */
#main-button {
    margin: 0 auto;
    width: 90%;
    word-spacing: 5px;
    padding: 8px;
    border-radius: 10px;
    background-color: seagreen;
    font-size: 1.2em;
    border: 1px solid white;
}

#main-button:hover {
    cursor: pointer;
}

#main-button:active {
    background-color: #404246;
    color: white;
    cursor: default;
}